.create-papaye {
    width: 400px;
    height: 300px;
    border: 2px solid #c7baba;
    padding: 10px;
    margin: 98px auto;
    background-color: #c7baba;
}

.create-papaye h3 {
    text-align: center;
}

.list_items {
    width: 142px;
    height: ;
}